
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.cabecalho{
    text-align: center;  
}

.cabecalho_link{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.corpo_titulo{
    margin: 5% 0% 1% 1%;
    font-family: 'Roboto', sans-serif;
}

.corpo_texto{
    margin: 0% 0% 4% 1%;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    text-indent: 1%
}

.fragmentos{
    box-sizing: border-box;
    display: flex;
    gap: 80px;
}

.imagem1{
    margin:0% 0% 0% 20%;   
}

.label1{
    margin: 0% 0% 0% 28%;
    text-decoration: none;  
    color: rgba(0, 0, 0, 0.692); 
}

.label2{
    text-decoration:none;
    color: rgba(0, 0, 0, 0.692);
}

/* Pagina Broxada*/

.texto2{
    width: 50%;
    margin: auto;
    text-indent: 1%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.pai__imagem{
    display: flex;
    justify-content: center;
}



.imagem1_1{
    margin: 5% 0% 2% 0%
}



.principal2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Pagina Guardioes da Galaxia*/

.texto3{
    width: 50%;
    margin: auto;
    text-indent: 1%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    text-align: left;
    text-indent: 2%;
}

/* versoes mobile */

@media(max-width: 900px){

    .corpo{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .corpo_titulo{
       text-align: center;
    }

    .corpo_texto{
        text-indent: 4%;
        margin: 3% 0% 4% 4%
    }

    .fragmentos{
        margin: auto;
        box-sizing: border-box;
        flex-direction: column;
    }

    .label1{
       margin-left: 15%; 
    }

    /* Pagina 2*/

    .principal2{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .texto2{
        width: 90%;
        margin: 2% 4%;
        text-align: justify;
    }
}