
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.cabecalho{
    text-align: center;  
    
}

.cabecalho_link{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    

}

.corpo_titulo{
    padding-bottom: 1%;
    padding-left: 1%;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.corpo_texto{
    padding-bottom: 4%;
    padding-left: 1%;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    text-indent: 1%
}

.imagem1{
    padding-left: 4.5%;
    
}

.label1{
    padding-left: 5.6%;
    text-decoration: none;
    
}

/* Pagina Broxada*/



.texto2{
    width: 50%;
    margin: auto;
    text-indent: 1%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    
    
}

.imagem2{
    margin: auto;
    margin-top:  5%;
    margin-bottom: 3%;
}



.principal2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* versoes mobile */

@media(max-width: 900px){

    .corpo{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .corpo_titulo{
       text-align: center;
    }

    .corpo_texto{
        text-indent: 4%;
        margin-left: 4% ;
        margin-bottom: 4%;
        margin-top: 2%;
    }

    .fragmentos{
        margin: auto;
        box-sizing: border-box;
        
        flex-direction: column;
    }

    .label1{
       margin-left: 15%;
        
    }

    .principal2{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .texto2{
        margin-top: 2%;
        width: 90%;
        margin-left: 4%;
        text-align: justify;
        
    
    }
}